In [99]:
import datetime as dt

#create a class
class shelter:

#initializer    
    sal_raise =1
    count_emps =0
    
    
    def __init__(self,ln,fn,age,salary):
        self.ln = ln
        self.fn= fn
        self.age=age
        self.salary=salary
        shelter.count_emps += 1
        
    @classmethod
    def new_pay(cls,amt):
        cls.new_salary = amt
        return cls.new_salary
    
    def raise_sal(self):
        self.salary=self.salary +(self.salary * 0.15) 
        return self.salary
    
    def fullname(self):
        return self.fn+" " + self.ln
    
#use class method as alternative constructor
    @classmethod
    def from_strg(cls,strg):
        ln,fn,age,salary =strg.split('.')
        return cls(ln,fn,age,salary)
    

#static methods, they do not use the class or instance but are somehow connected to the class    
    @staticmethod
    def work_day(day):
        if day.weekday() in (5,6):
            return False
        else:
            return True
        
    
# Instatiate ojects       
sh1=shelter("kii",'kim',22,40000) 
sh2=shelter("buk",'bugre',32,20000)
sh3=shelter("mine",'dire',42,60000) 
sh4=shelter("mike",'blaire',52,80000)

In [83]:
#see of objects were creates
sh1.__dict__,sh4.__dict__

({'ln': 'kii', 'fn': 'kim', 'age': 22, 'salary': 40000},
 {'ln': 'mike', 'fn': 'blaire', 'age': 52, 'salary': 80000})

In [84]:
#number of records
shelter.count_emps

4

In [85]:
#raise salary for sh1
shelter.raise_sal(sh1)

46000.0

In [86]:
#change salary using the functions
shelter.new_pay(65124),sh2.new_salary,sh1.new_salary

(65124, 65124, 65124)

In [87]:
shelter.fullname(sh1)

'kim kii'

In [90]:
#use alternative constructor to add aobjects
da1='me.cla.12.23000'
dat2='de.nacy.25.36000'

sh5=shelter.from_strg(da1)
sh6=shelter.from_strg(dat2)

In [91]:
#check on additions
sh6.__dict__

{'ln': 'de', 'fn': 'nacy', 'age': '25', 'salary': '36000'}

In [103]:
# Is it a working day?
date1=dt.date(2018,5,10)
shelter.work_day(date1)

True

# Inheritance

In [178]:
class managers(shelter):
    def __init__(self,ln,fn,age,salary,title,employees=None):
        super().__init__(ln,fn,age,salary)
        self.title=title
        if employees is None:
            self.employees = []
        else:
            self.employees = employees
            
    def add_emp(self,emp):
        if emp not in self.employees:
            self.employees.append(emp)
            
    def remove_emp(self,emp):
        if emp in self.employees:
            self.employees.remove(emp)
            
    def __repr__(self):
        a= "managers('{}' ,'{}','{}')".format(self.ln,self.fn,self.age)
        return a
    def __str__(self):
        return self.ln + self.fn 
    
            
    def print_emps(self):
        for i in self.employees:
            print(i.fullname())
    
man1=managers('lol','kabuyo',56,10000,'looser')

In [165]:
man1.add_emp(sh1)
man1.add_emp(sh2)

In [166]:
man1.print_emps()

kim kii
bugre buk

# Magic Methods 
repr,str,sub,add,len ets

In [184]:
import datetime as dt

#create a class
class shelter:

#initializer    
    sal_raise =1
    count_emps =0
    
    
    def __init__(self,ln,fn,age,salary):
        self.ln = ln
        self.fn= fn
        self.age=age
        self.salary=salary
        shelter.count_emps += 1
        
    @classmethod
    def new_pay(cls,amt):
        cls.new_salary = amt
        return cls.new_salary
    
    def raise_sal(self):
        self.salary=self.salary +(self.salary * 0.15) 
        return self.salary
    
    def fullname(self):
        return self.fn+" " + self.ln
    
#use class method as alternative constructor
    @classmethod
    def from_strg(cls,strg):
        ln,fn,age,salary =strg.split('.')
        return cls(ln,fn,age,salary)
    

#static methods, they do not use the class or instance but are somehow connected to the class    
    @staticmethod
    def work_day(day):
        if day.weekday() in (5,6):
            return False
        else:
            return True
        
    def __repr__(self):
        return "shelter('{}','{}','{}')".format(self.ln,self.fn,self.age)
    def __str__(self):
        return self.ln + "  " + self.fn
    
    def __add__(self,other): #this will add employee ages if you use the add symbol
        return self.age + other.age
        
        
# Instatiate ojects       
sh1=shelter("kii",'kim',22,40000) 
sh2=shelter("buk",'bugre',32,20000)
sh3=shelter("mine",'dire',42,60000) 
sh4=shelter("mike",'blaire',52,80000)

In [179]:
repr(sh1),repr(man1)

("shelter('kii','kim','22')", "managers('lol' ,'kabuyo','56')")

In [181]:
str(man1),str(sh1), #you can get this by printing

lolkabuyo

('lolkabuyo', 'kii  kim', None)

In [182]:
print(sh1) #when you print you get the __str__method ,

kii  kim

In [183]:
print(man1)

lolkabuyo

In [185]:
sh1 + sh2 #example out put

54

In [186]:
class clare:
    kids =[]
    def __init__(self,kids):
        self.kids =kids

In [187]:
my_kids = [shelter("kii",'kim',22,40000),shelter("buk",'bugre',32,20000),shelter("mine",'dire',42,60000) ,
           shelter("mike",'blaire',52,80000)]

In [188]:
print("I have {} children".format(len(my_kids)))

I have 4 children

In [190]:
for i in my_kids:
    print('{} is {} years old'.format(i.ln,i.age))

kii is 22 years old
buk is 32 years old
mine is 42 years old
mike is 52 years old

## Property Decorators
* property- allows you to use a method as an attributs, e.d man1.fullname, instead of man1.fullname()
* setter -allows you to rename a value created by a property formula eg ma1.fullname ="claire Muwang"

In [204]:
 class deco:
        def __init__(self,ln,fn):
            self.ln = ln
            self.fn= fn
        
        @property
        def email(self):
            return "{}.{}@email.com".format(self.fn,self.ln)
        
        @property
        def fullname(self):
            return self.fn+" " + self.ln
        
        @fullname.setter
        def fullname(self,name):
            fn,ln =name.split(" ")
            self.fn=fn
            self.ln=ln
            return '{} {}'.format(self.fn,self.ln)
        
#instatiate    
deco1=deco('larry','latest')
deco2=deco('claire','ian')

In [205]:
deco1.fullname , deco2.fullname

('latest larry', 'ian claire')

In [206]:
deco1.fullname ="jane kim"

In [207]:
deco1.fullname

'jane kim'